{% extends "layout.html" %}

{% block main %}

<div data-ng-app = "miApp" data-ng-controller="miCtrl">
  <form id="regForm" action="/form" autocomplete="off" method="post">

    <h1>Encuesta CDMX</h1>

    <!-- One "tab" for each step in the form: -->


    <div class="tab">
      <b>Las respuestas de esta encuesta no serán compartidas con tu jefe y/o compañeros de trabajo.</b>
      <p></p>
      <p>Tienes 3 minutos para responder esta pregunta. Hagamos el siguiente ejercicio. Quieres adivinar el salario mensual de 5 de tus compañeros de trabajo (con los que tienes una relación laboral más cercana).</p>
      <p></p>
      <p>Escribe el nombre de las cinco personas con las que trabaja más de cerca y en qué división están:</p>
      <!-- Persona1 -->
      <div class="autocomplete" style="width:300px;">
        <input data-ng-model="persona1"  id="persona1"  class="mytext" type="text" placeholder="Persona 1">
      </div>
      <select name="unidad_1" class="myselect" onchange='AddOther_1(this.value);'>
              <option disabled selected value="División o Unidad">División o Unidad</option>
              <option value=1>AGENCIA DE ATENCION ANIMAL DE LA CDMX</option>
              <option value=2>AGENCIA DE GESTION URBANA DE LA CIUDAD DE MEXICO</option>
              <option value=3>AGENCIA DE RESILIENCIA DE LA CIUDAD DE MEXICO</option>
              <option value=4>AGENCIA DIGITAL DE INNOVACION PUBLICA</option>
              <option value=5>ALCALDIA DE ALVARO OBREGON</option>
              <option value=6>ALCALDIA DE AZCAPOTZALCO</option>
              <option value=7>ALCALDIA DE BENITO JUAREZ</option>
              <option value=8>ALCALDIA DE COYOACAN</option>
              <option value=9>ALCALDIA DE CUAJIMALPA DE MORELOS</option>
              <option value=10>ALCALDIA DE CUAUHTEMOC</option>
              <option value=11>ALCALDIA DE GUSTAVO A. MADERO</option>
              <option value=12>ALCALDIA DE IZTACALCO</option>
              <option value=13>ALCALDIA DE IZTAPALAPA</option>
              <option value=14>ALCALDIA DE LA MAGDALENA CONTRERAS</option>
              <option value=15>ALCALDIA DE MIGUEL HIDALGO</option>
              <option value=16>ALCALDIA DE MILPA ALTA</option>
              <option value=17>ALCALDIA DE TLAHUAC</option>
              <option value=18>ALCALDIA DE TLALPAN</option>
              <option value=19>ALCALDIA DE VENUSTIANO CARRANZA</option>
              <option value=20>ALCALDIA DE XOCHIMILCO</option>
              <option value=21>AUTORIDAD DEL ESPACIO PUBLICO DEL D.F.</option>
              <option value=22>CAJA DE PREVISION DE LA POLICIA AUXILIAR DE LA CDMX</option>
              <option value=23>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DE LA CDMX</option>
              <option value=24>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DEL D.F.</option>
              <option value=25>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB. D. F.</option>
              <option value=26>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB.DE LA CDMX</option>
              <option value=27>COMISION DE BUSQUEDA DE PERSONAS DE LA CIUDAD DE MEXICO</option>
              <option value=28>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES</option>
              <option value=29>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES DE LA CDMX</option>
              <option value=30>COORD. GRAL. DE LA AUT. DE LA ZONA PATRIMONIAL, MUNDIAL NAT. Y CULTURAL DE LA HUMANIDAD EN XOCHIMILCO, TLAHUAC Y MILPA ALTA</option>
              <option value=31>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO</option>
              <option value=32>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO DE LA CDMX</option>
              <option value=33>COORDINACION GENERAL DE LA COMISION DE ATENCION A VICTIMAS DE LA CIUDAD DE MEXICO</option>
              <option value=34>COORDINACION GENERAL DEL CENTRO DE COMANDO, CONTROL, COMPUTO, COMUNICACIONES Y CONTACTO CIUDADANO DE LA CIUDAD DE MEXICO</option>
              <option value=35>COORDINACION GENERAL DEL INSTITUTO DE FORMACION PROFESIONAL</option>
              <option value=36>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DE LA CDMX</option>
              <option value=37>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DEL GDF</option>
              <option value=38>DIR. GRAL. DE LA COORD. DE LOS CNTROS. DE TRANSFERENCIA MODAL DEL D. F.</option>
              <option value=39>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DE LA CDMX</option>
              <option value=40>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DEL D.F.</option>
              <option value=41>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DE LA CDMX</option>
              <option value=42>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DEL D.F.</option>
              <option value=43>DIRECCION GENERAL DEL SISTEMA DE RADIO Y TELEVISION DIGITAL</option>
              <option value=44>DIRECCION GENERAL DE LA PLANTA DE ASFALTO</option>
              <option value=45>DIRECCION GENERAL DEL ORGANO REGULADOR DE TRANSPORTE DE LA CDMX</option>
              <option value=46>DIRECCION GRAL. DEL CENTRO DE ATENCION A EMERGENCIAS Y PROTECCION CIUDADANA DE LA CD. DE MEXICO</option>
              <option value=47>ESCUELA DE ADMINISTRACION P?BLICA DEL D.F.</option>
              <option value=48>FIDEICOMISO EDUCACION GARANTIZADA DE LA CDMX</option>
              <option value=49>FIDEICOMISO EDUCACION GARANTIZADA DEL DISTRITO FEDERAL</option>
              <option value=50>FIDEICOMISO MUSEO DE ARTE POPULAR DE ARTE MEXICANO</option>
              <option value=51>FIDEICOMISO MUSEO ESTANQUILLO</option>
              <option value=52>FIDEICOMISO PARA LA PROMOCION Y DESARROLLO DEL CINE MEXICANO EN LA CIUDAD DE MEXICO</option>
              <option value=53>FIDEICOMISO PARA LA RECONSTRUCCION INTEGRAL DE LA CIUDAD DE MEXICO</option>
              <option value=54>HEROICO CUERPO DE BOMBEROS DEL D. F.</option>
              <option value=55>INSTITUTO DE CAPACITACION PARA EL TRABAJO DE LA CIUDAD DE MEXICO</option>
              <option value=56>INSTITUTO DE ESTUDIOS SUPERIORES DE LA CIUDAD DE MEXICO ROSARIO CASTELLANOS</option>
              <option value=57>INSTITUTO DE LAS MUJERES DEL DISTRITO FEDERAL</option>
              <option value=58>INSTITUTO DEL DEPORTE DEL DISTRITO FEDERAL</option>
              <option value=59>INSTITUTO PARA LA ATENCION Y PREVENCION DE LAS ADICCIONES EN LA CD. DE MEX.</option>
              <option value=60>JEFATURA DE GOBIERNO DE LA CDMX</option>
              <option value=61>JEFATURA DE GOBIERNO DEL DISTRITO FEDERAL</option>
              <option value=62>OFICIALIA MAYOR</option>
              <option value=63>PROCURADURIA GENERAL DE JUSTICIA DE LA CDMX</option>
              <option value=64>PROCURADURIA GENERAL DE JUSTICIA DEL DISTRITO FEDERAL</option>
              <option value=65>SECRETARIA DE ADMINISTRACION Y FINANZAS DE LA CDMX</option>
              <option value=66>SECRETARIA DE CULTURA DE LA CDMX</option>
              <option value=67>SECRETARIA DE DESARROLLO ECONOMICO</option>
              <option value=68>SECRETARIA DE DESARROLLO ECONOMICO DE LA CDMX</option>
              <option value=69>SECRETARIA DE DESARROLLO SOCIAL</option>
              <option value=70>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA</option>
              <option value=71>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA DE LA CDMX</option>
              <option value=72>SECRETARIA DE EDUCACION</option>
              <option value=73>SECRETARIA DE EDUCACION, CIENCIA, TECNOLOGIA E INNOVACION DE LA CDMX</option>
              <option value=74>SECRETARIA DE FINANZAS</option>
              <option value=75>SECRETARIA DE GESTION INTEGRAL DE RIESGOS Y PROTECCION CIVIL DE LA CDMX</option>
              <option value=76>SECRETARIA DE GOBIERNO</option>
              <option value=77>SECRETARIA DE GOBIERNO DE LA CDMX</option>
              <option value=78>SECRETARIA DE INCLUSION Y BIENESTAR SOCIAL DE LA CDMX</option>
              <option value=79>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CDMX</option>
              <option value=80>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CIUDAD DE MEXICO</option>
              <option value=81>SECRETARIA DE LAS MUJERES DE LA CDMX</option>
              <option value=82>SECRETARIA DE MOVILIDAD</option>
              <option value=83>SECRETARIA DE MOVILIDAD DE LA CDMX</option>
              <option value=84>SECRETARIA DE OBRAS Y SERVICIOS</option>
              <option value=85>SECRETARIA DE OBRAS Y SERVICIOS DE LA CDMX</option>
              <option value=86>SECRETARIA DE PROTECCION CIVIL</option>
              <option value=87>SECRETARIA DE PUEBLOS Y BARRIOS ORIGINARIOS Y COMUNIDADES INDIGENAS RESIDENTES DE LA CDMX</option>
              <option value=88>SECRETARIA DE SALUD</option>
              <option value=89>SECRETARIA DE SALUD DE LA CDMX</option>
              <option value=90>SECRETARIA DE SEGURIDAD CIUDADANA DE LA CDMX</option>
              <option value=91>SECRETARIA DE SEGURIDAD PUBLICA</option>
              <option value=92>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO</option>
              <option value=93>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO EN LA CDMX</option>
              <option value=94>SECRETARIA DE TURISMO</option>
              <option value=95>SECRETARIA DE TURISMO DE LA CDMX</option>
              <option value=96>SECRETARIA DEL MEDIO AMBIENTE</option>
              <option value=97>SECRETARIA DEL MEDIO AMBIENTE DE LA CDMX</option>
              <option value=98>SECRETARIA EJECUTIVA DE MECANISMOS DE SEGUIMIENTO Y EVALUACION DEL PROGRAMA DE DERECHOS HUMANOS</option>
              <option value=99>SISTEMA DE AGUAS DE LA CIUDAD DE MEXICO</option>
              <option value=100>SISTEMA PUBLICO DE RADIODIFUSION DE LA CIUDAD DE MEXICO</option>
              <option value=101>UNIVERSIDAD DE LA POLICIA DE LA CIUDAD DE MEXICO</option>
              <option value=102>OTRO</option>
      </select><br><br>
      <input type="text" name="otro_1" id="otro_1"  placeholder="Otra división" style='display:none;'/>
      <p></p>
      <!-- Persona2 -->
      <div class="autocomplete" style="width:300px;">
        <input data-ng-model="persona2"  id="persona2" class="mytext" type="text" placeholder="Persona 2">
      </div>
      <select name="unidad_2" class="myselect" onchange='AddOther_2(this.value);'>
              <option disabled selected value="División o Unidad">División o Unidad</option>
              <option value=1>AGENCIA DE ATENCION ANIMAL DE LA CDMX</option>
              <option value=2>AGENCIA DE GESTION URBANA DE LA CIUDAD DE MEXICO</option>
              <option value=3>AGENCIA DE RESILIENCIA DE LA CIUDAD DE MEXICO</option>
              <option value=4>AGENCIA DIGITAL DE INNOVACION PUBLICA</option>
              <option value=5>ALCALDIA DE ALVARO OBREGON</option>
              <option value=6>ALCALDIA DE AZCAPOTZALCO</option>
              <option value=7>ALCALDIA DE BENITO JUAREZ</option>
              <option value=8>ALCALDIA DE COYOACAN</option>
              <option value=9>ALCALDIA DE CUAJIMALPA DE MORELOS</option>
              <option value=10>ALCALDIA DE CUAUHTEMOC</option>
              <option value=11>ALCALDIA DE GUSTAVO A. MADERO</option>
              <option value=12>ALCALDIA DE IZTACALCO</option>
              <option value=13>ALCALDIA DE IZTAPALAPA</option>
              <option value=14>ALCALDIA DE LA MAGDALENA CONTRERAS</option>
              <option value=15>ALCALDIA DE MIGUEL HIDALGO</option>
              <option value=16>ALCALDIA DE MILPA ALTA</option>
              <option value=17>ALCALDIA DE TLAHUAC</option>
              <option value=18>ALCALDIA DE TLALPAN</option>
              <option value=19>ALCALDIA DE VENUSTIANO CARRANZA</option>
              <option value=20>ALCALDIA DE XOCHIMILCO</option>
              <option value=21>AUTORIDAD DEL ESPACIO PUBLICO DEL D.F.</option>
              <option value=22>CAJA DE PREVISION DE LA POLICIA AUXILIAR DE LA CDMX</option>
              <option value=23>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DE LA CDMX</option>
              <option value=24>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DEL D.F.</option>
              <option value=25>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB. D. F.</option>
              <option value=26>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB.DE LA CDMX</option>
              <option value=27>COMISION DE BUSQUEDA DE PERSONAS DE LA CIUDAD DE MEXICO</option>
              <option value=28>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES</option>
              <option value=29>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES DE LA CDMX</option>
              <option value=30>COORD. GRAL. DE LA AUT. DE LA ZONA PATRIMONIAL, MUNDIAL NAT. Y CULTURAL DE LA HUMANIDAD EN XOCHIMILCO, TLAHUAC Y MILPA ALTA</option>
              <option value=31>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO</option>
              <option value=32>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO DE LA CDMX</option>
              <option value=33>COORDINACION GENERAL DE LA COMISION DE ATENCION A VICTIMAS DE LA CIUDAD DE MEXICO</option>
              <option value=34>COORDINACION GENERAL DEL CENTRO DE COMANDO, CONTROL, COMPUTO, COMUNICACIONES Y CONTACTO CIUDADANO DE LA CIUDAD DE MEXICO</option>
              <option value=35>COORDINACION GENERAL DEL INSTITUTO DE FORMACION PROFESIONAL</option>
              <option value=36>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DE LA CDMX</option>
              <option value=37>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DEL GDF</option>
              <option value=38>DIR. GRAL. DE LA COORD. DE LOS CNTROS. DE TRANSFERENCIA MODAL DEL D. F.</option>
              <option value=39>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DE LA CDMX</option>
              <option value=40>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DEL D.F.</option>
              <option value=41>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DE LA CDMX</option>
              <option value=42>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DEL D.F.</option>
              <option value=43>DIRECCION GENERAL DEL SISTEMA DE RADIO Y TELEVISION DIGITAL</option>
              <option value=44>DIRECCION GENERAL DE LA PLANTA DE ASFALTO</option>
              <option value=45>DIRECCION GENERAL DEL ORGANO REGULADOR DE TRANSPORTE DE LA CDMX</option>
              <option value=46>DIRECCION GRAL. DEL CENTRO DE ATENCION A EMERGENCIAS Y PROTECCION CIUDADANA DE LA CD. DE MEXICO</option>
              <option value=47>ESCUELA DE ADMINISTRACION P?BLICA DEL D.F.</option>
              <option value=48>FIDEICOMISO EDUCACION GARANTIZADA DE LA CDMX</option>
              <option value=49>FIDEICOMISO EDUCACION GARANTIZADA DEL DISTRITO FEDERAL</option>
              <option value=50>FIDEICOMISO MUSEO DE ARTE POPULAR DE ARTE MEXICANO</option>
              <option value=51>FIDEICOMISO MUSEO ESTANQUILLO</option>
              <option value=52>FIDEICOMISO PARA LA PROMOCION Y DESARROLLO DEL CINE MEXICANO EN LA CIUDAD DE MEXICO</option>
              <option value=53>FIDEICOMISO PARA LA RECONSTRUCCION INTEGRAL DE LA CIUDAD DE MEXICO</option>
              <option value=54>HEROICO CUERPO DE BOMBEROS DEL D. F.</option>
              <option value=55>INSTITUTO DE CAPACITACION PARA EL TRABAJO DE LA CIUDAD DE MEXICO</option>
              <option value=56>INSTITUTO DE ESTUDIOS SUPERIORES DE LA CIUDAD DE MEXICO ROSARIO CASTELLANOS</option>
              <option value=57>INSTITUTO DE LAS MUJERES DEL DISTRITO FEDERAL</option>
              <option value=58>INSTITUTO DEL DEPORTE DEL DISTRITO FEDERAL</option>
              <option value=59>INSTITUTO PARA LA ATENCION Y PREVENCION DE LAS ADICCIONES EN LA CD. DE MEX.</option>
              <option value=60>JEFATURA DE GOBIERNO DE LA CDMX</option>
              <option value=61>JEFATURA DE GOBIERNO DEL DISTRITO FEDERAL</option>
              <option value=62>OFICIALIA MAYOR</option>
              <option value=63>PROCURADURIA GENERAL DE JUSTICIA DE LA CDMX</option>
              <option value=64>PROCURADURIA GENERAL DE JUSTICIA DEL DISTRITO FEDERAL</option>
              <option value=65>SECRETARIA DE ADMINISTRACION Y FINANZAS DE LA CDMX</option>
              <option value=66>SECRETARIA DE CULTURA DE LA CDMX</option>
              <option value=67>SECRETARIA DE DESARROLLO ECONOMICO</option>
              <option value=68>SECRETARIA DE DESARROLLO ECONOMICO DE LA CDMX</option>
              <option value=69>SECRETARIA DE DESARROLLO SOCIAL</option>
              <option value=70>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA</option>
              <option value=71>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA DE LA CDMX</option>
              <option value=72>SECRETARIA DE EDUCACION</option>
              <option value=73>SECRETARIA DE EDUCACION, CIENCIA, TECNOLOGIA E INNOVACION DE LA CDMX</option>
              <option value=74>SECRETARIA DE FINANZAS</option>
              <option value=75>SECRETARIA DE GESTION INTEGRAL DE RIESGOS Y PROTECCION CIVIL DE LA CDMX</option>
              <option value=76>SECRETARIA DE GOBIERNO</option>
              <option value=77>SECRETARIA DE GOBIERNO DE LA CDMX</option>
              <option value=78>SECRETARIA DE INCLUSION Y BIENESTAR SOCIAL DE LA CDMX</option>
              <option value=79>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CDMX</option>
              <option value=80>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CIUDAD DE MEXICO</option>
              <option value=81>SECRETARIA DE LAS MUJERES DE LA CDMX</option>
              <option value=82>SECRETARIA DE MOVILIDAD</option>
              <option value=83>SECRETARIA DE MOVILIDAD DE LA CDMX</option>
              <option value=84>SECRETARIA DE OBRAS Y SERVICIOS</option>
              <option value=85>SECRETARIA DE OBRAS Y SERVICIOS DE LA CDMX</option>
              <option value=86>SECRETARIA DE PROTECCION CIVIL</option>
              <option value=87>SECRETARIA DE PUEBLOS Y BARRIOS ORIGINARIOS Y COMUNIDADES INDIGENAS RESIDENTES DE LA CDMX</option>
              <option value=88>SECRETARIA DE SALUD</option>
              <option value=89>SECRETARIA DE SALUD DE LA CDMX</option>
              <option value=90>SECRETARIA DE SEGURIDAD CIUDADANA DE LA CDMX</option>
              <option value=91>SECRETARIA DE SEGURIDAD PUBLICA</option>
              <option value=92>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO</option>
              <option value=93>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO EN LA CDMX</option>
              <option value=94>SECRETARIA DE TURISMO</option>
              <option value=95>SECRETARIA DE TURISMO DE LA CDMX</option>
              <option value=96>SECRETARIA DEL MEDIO AMBIENTE</option>
              <option value=97>SECRETARIA DEL MEDIO AMBIENTE DE LA CDMX</option>
              <option value=98>SECRETARIA EJECUTIVA DE MECANISMOS DE SEGUIMIENTO Y EVALUACION DEL PROGRAMA DE DERECHOS HUMANOS</option>
              <option value=99>SISTEMA DE AGUAS DE LA CIUDAD DE MEXICO</option>
              <option value=100>SISTEMA PUBLICO DE RADIODIFUSION DE LA CIUDAD DE MEXICO</option>
              <option value=101>UNIVERSIDAD DE LA POLICIA DE LA CIUDAD DE MEXICO</option>
              <option value=102>OTRO</option>
      </select><br><br>
      <input type="text" name="otro_2" id="otro_2"  placeholder="Otra división" style='display:none;'/>
<!-- Persona3 -->
      <p></p>
      <div class="autocomplete" style="width:300px;">
        <input data-ng-model="persona3"  id="persona3"  class="mytext" type="text" placeholder="Persona 3">
      </div>
      <select name="unidad_3" class="myselect" onchange='AddOther_3(this.value);'>
              <option disabled selected value="División o Unidad">División o Unidad</option>
              <option value=1>AGENCIA DE ATENCION ANIMAL DE LA CDMX</option>
              <option value=2>AGENCIA DE GESTION URBANA DE LA CIUDAD DE MEXICO</option>
              <option value=3>AGENCIA DE RESILIENCIA DE LA CIUDAD DE MEXICO</option>
              <option value=4>AGENCIA DIGITAL DE INNOVACION PUBLICA</option>
              <option value=5>ALCALDIA DE ALVARO OBREGON</option>
              <option value=6>ALCALDIA DE AZCAPOTZALCO</option>
              <option value=7>ALCALDIA DE BENITO JUAREZ</option>
              <option value=8>ALCALDIA DE COYOACAN</option>
              <option value=9>ALCALDIA DE CUAJIMALPA DE MORELOS</option>
              <option value=10>ALCALDIA DE CUAUHTEMOC</option>
              <option value=11>ALCALDIA DE GUSTAVO A. MADERO</option>
              <option value=12>ALCALDIA DE IZTACALCO</option>
              <option value=13>ALCALDIA DE IZTAPALAPA</option>
              <option value=14>ALCALDIA DE LA MAGDALENA CONTRERAS</option>
              <option value=15>ALCALDIA DE MIGUEL HIDALGO</option>
              <option value=16>ALCALDIA DE MILPA ALTA</option>
              <option value=17>ALCALDIA DE TLAHUAC</option>
              <option value=18>ALCALDIA DE TLALPAN</option>
              <option value=19>ALCALDIA DE VENUSTIANO CARRANZA</option>
              <option value=20>ALCALDIA DE XOCHIMILCO</option>
              <option value=21>AUTORIDAD DEL ESPACIO PUBLICO DEL D.F.</option>
              <option value=22>CAJA DE PREVISION DE LA POLICIA AUXILIAR DE LA CDMX</option>
              <option value=23>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DE LA CDMX</option>
              <option value=24>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DEL D.F.</option>
              <option value=25>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB. D. F.</option>
              <option value=26>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB.DE LA CDMX</option>
              <option value=27>COMISION DE BUSQUEDA DE PERSONAS DE LA CIUDAD DE MEXICO</option>
              <option value=28>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES</option>
              <option value=29>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES DE LA CDMX</option>
              <option value=30>COORD. GRAL. DE LA AUT. DE LA ZONA PATRIMONIAL, MUNDIAL NAT. Y CULTURAL DE LA HUMANIDAD EN XOCHIMILCO, TLAHUAC Y MILPA ALTA</option>
              <option value=31>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO</option>
              <option value=32>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO DE LA CDMX</option>
              <option value=33>COORDINACION GENERAL DE LA COMISION DE ATENCION A VICTIMAS DE LA CIUDAD DE MEXICO</option>
              <option value=34>COORDINACION GENERAL DEL CENTRO DE COMANDO, CONTROL, COMPUTO, COMUNICACIONES Y CONTACTO CIUDADANO DE LA CIUDAD DE MEXICO</option>
              <option value=35>COORDINACION GENERAL DEL INSTITUTO DE FORMACION PROFESIONAL</option>
              <option value=36>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DE LA CDMX</option>
              <option value=37>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DEL GDF</option>
              <option value=38>DIR. GRAL. DE LA COORD. DE LOS CNTROS. DE TRANSFERENCIA MODAL DEL D. F.</option>
              <option value=39>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DE LA CDMX</option>
              <option value=40>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DEL D.F.</option>
              <option value=41>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DE LA CDMX</option>
              <option value=42>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DEL D.F.</option>
              <option value=43>DIRECCION GENERAL DEL SISTEMA DE RADIO Y TELEVISION DIGITAL</option>
              <option value=44>DIRECCION GENERAL DE LA PLANTA DE ASFALTO</option>
              <option value=45>DIRECCION GENERAL DEL ORGANO REGULADOR DE TRANSPORTE DE LA CDMX</option>
              <option value=46>DIRECCION GRAL. DEL CENTRO DE ATENCION A EMERGENCIAS Y PROTECCION CIUDADANA DE LA CD. DE MEXICO</option>
              <option value=47>ESCUELA DE ADMINISTRACION P?BLICA DEL D.F.</option>
              <option value=48>FIDEICOMISO EDUCACION GARANTIZADA DE LA CDMX</option>
              <option value=49>FIDEICOMISO EDUCACION GARANTIZADA DEL DISTRITO FEDERAL</option>
              <option value=50>FIDEICOMISO MUSEO DE ARTE POPULAR DE ARTE MEXICANO</option>
              <option value=51>FIDEICOMISO MUSEO ESTANQUILLO</option>
              <option value=52>FIDEICOMISO PARA LA PROMOCION Y DESARROLLO DEL CINE MEXICANO EN LA CIUDAD DE MEXICO</option>
              <option value=53>FIDEICOMISO PARA LA RECONSTRUCCION INTEGRAL DE LA CIUDAD DE MEXICO</option>
              <option value=54>HEROICO CUERPO DE BOMBEROS DEL D. F.</option>
              <option value=55>INSTITUTO DE CAPACITACION PARA EL TRABAJO DE LA CIUDAD DE MEXICO</option>
              <option value=56>INSTITUTO DE ESTUDIOS SUPERIORES DE LA CIUDAD DE MEXICO ROSARIO CASTELLANOS</option>
              <option value=57>INSTITUTO DE LAS MUJERES DEL DISTRITO FEDERAL</option>
              <option value=58>INSTITUTO DEL DEPORTE DEL DISTRITO FEDERAL</option>
              <option value=59>INSTITUTO PARA LA ATENCION Y PREVENCION DE LAS ADICCIONES EN LA CD. DE MEX.</option>
              <option value=60>JEFATURA DE GOBIERNO DE LA CDMX</option>
              <option value=61>JEFATURA DE GOBIERNO DEL DISTRITO FEDERAL</option>
              <option value=62>OFICIALIA MAYOR</option>
              <option value=63>PROCURADURIA GENERAL DE JUSTICIA DE LA CDMX</option>
              <option value=64>PROCURADURIA GENERAL DE JUSTICIA DEL DISTRITO FEDERAL</option>
              <option value=65>SECRETARIA DE ADMINISTRACION Y FINANZAS DE LA CDMX</option>
              <option value=66>SECRETARIA DE CULTURA DE LA CDMX</option>
              <option value=67>SECRETARIA DE DESARROLLO ECONOMICO</option>
              <option value=68>SECRETARIA DE DESARROLLO ECONOMICO DE LA CDMX</option>
              <option value=69>SECRETARIA DE DESARROLLO SOCIAL</option>
              <option value=70>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA</option>
              <option value=71>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA DE LA CDMX</option>
              <option value=72>SECRETARIA DE EDUCACION</option>
              <option value=73>SECRETARIA DE EDUCACION, CIENCIA, TECNOLOGIA E INNOVACION DE LA CDMX</option>
              <option value=74>SECRETARIA DE FINANZAS</option>
              <option value=75>SECRETARIA DE GESTION INTEGRAL DE RIESGOS Y PROTECCION CIVIL DE LA CDMX</option>
              <option value=76>SECRETARIA DE GOBIERNO</option>
              <option value=77>SECRETARIA DE GOBIERNO DE LA CDMX</option>
              <option value=78>SECRETARIA DE INCLUSION Y BIENESTAR SOCIAL DE LA CDMX</option>
              <option value=79>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CDMX</option>
              <option value=80>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CIUDAD DE MEXICO</option>
              <option value=81>SECRETARIA DE LAS MUJERES DE LA CDMX</option>
              <option value=82>SECRETARIA DE MOVILIDAD</option>
              <option value=83>SECRETARIA DE MOVILIDAD DE LA CDMX</option>
              <option value=84>SECRETARIA DE OBRAS Y SERVICIOS</option>
              <option value=85>SECRETARIA DE OBRAS Y SERVICIOS DE LA CDMX</option>
              <option value=86>SECRETARIA DE PROTECCION CIVIL</option>
              <option value=87>SECRETARIA DE PUEBLOS Y BARRIOS ORIGINARIOS Y COMUNIDADES INDIGENAS RESIDENTES DE LA CDMX</option>
              <option value=88>SECRETARIA DE SALUD</option>
              <option value=89>SECRETARIA DE SALUD DE LA CDMX</option>
              <option value=90>SECRETARIA DE SEGURIDAD CIUDADANA DE LA CDMX</option>
              <option value=91>SECRETARIA DE SEGURIDAD PUBLICA</option>
              <option value=92>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO</option>
              <option value=93>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO EN LA CDMX</option>
              <option value=94>SECRETARIA DE TURISMO</option>
              <option value=95>SECRETARIA DE TURISMO DE LA CDMX</option>
              <option value=96>SECRETARIA DEL MEDIO AMBIENTE</option>
              <option value=97>SECRETARIA DEL MEDIO AMBIENTE DE LA CDMX</option>
              <option value=98>SECRETARIA EJECUTIVA DE MECANISMOS DE SEGUIMIENTO Y EVALUACION DEL PROGRAMA DE DERECHOS HUMANOS</option>
              <option value=99>SISTEMA DE AGUAS DE LA CIUDAD DE MEXICO</option>
              <option value=100>SISTEMA PUBLICO DE RADIODIFUSION DE LA CIUDAD DE MEXICO</option>
              <option value=101>UNIVERSIDAD DE LA POLICIA DE LA CIUDAD DE MEXICO</option>
              <option value=102>OTRO</option>
      </select><br><br>
      <input type="text" name="otro_3" id="otro_3"  placeholder="Otra división" style='display:none;'/>
<p></p>
      <!-- Persona4 -->
      <div class="autocomplete" style="width:300px;">
        <input data-ng-model="persona4"  id="persona4" class="mytext" type="text" placeholder="Persona 4">
      </div>
      <select name="unidad_4" class="myselect" onchange='AddOther_4(this.value);'>
              <option disabled selected value="División o Unidad">División o Unidad</option>
              <option value=1>AGENCIA DE ATENCION ANIMAL DE LA CDMX</option>
              <option value=2>AGENCIA DE GESTION URBANA DE LA CIUDAD DE MEXICO</option>
              <option value=3>AGENCIA DE RESILIENCIA DE LA CIUDAD DE MEXICO</option>
              <option value=4>AGENCIA DIGITAL DE INNOVACION PUBLICA</option>
              <option value=5>ALCALDIA DE ALVARO OBREGON</option>
              <option value=6>ALCALDIA DE AZCAPOTZALCO</option>
              <option value=7>ALCALDIA DE BENITO JUAREZ</option>
              <option value=8>ALCALDIA DE COYOACAN</option>
              <option value=9>ALCALDIA DE CUAJIMALPA DE MORELOS</option>
              <option value=10>ALCALDIA DE CUAUHTEMOC</option>
              <option value=11>ALCALDIA DE GUSTAVO A. MADERO</option>
              <option value=12>ALCALDIA DE IZTACALCO</option>
              <option value=13>ALCALDIA DE IZTAPALAPA</option>
              <option value=14>ALCALDIA DE LA MAGDALENA CONTRERAS</option>
              <option value=15>ALCALDIA DE MIGUEL HIDALGO</option>
              <option value=16>ALCALDIA DE MILPA ALTA</option>
              <option value=17>ALCALDIA DE TLAHUAC</option>
              <option value=18>ALCALDIA DE TLALPAN</option>
              <option value=19>ALCALDIA DE VENUSTIANO CARRANZA</option>
              <option value=20>ALCALDIA DE XOCHIMILCO</option>
              <option value=21>AUTORIDAD DEL ESPACIO PUBLICO DEL D.F.</option>
              <option value=22>CAJA DE PREVISION DE LA POLICIA AUXILIAR DE LA CDMX</option>
              <option value=23>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DE LA CDMX</option>
              <option value=24>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DEL D.F.</option>
              <option value=25>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB. D. F.</option>
              <option value=26>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB.DE LA CDMX</option>
              <option value=27>COMISION DE BUSQUEDA DE PERSONAS DE LA CIUDAD DE MEXICO</option>
              <option value=28>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES</option>
              <option value=29>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES DE LA CDMX</option>
              <option value=30>COORD. GRAL. DE LA AUT. DE LA ZONA PATRIMONIAL, MUNDIAL NAT. Y CULTURAL DE LA HUMANIDAD EN XOCHIMILCO, TLAHUAC Y MILPA ALTA</option>
              <option value=31>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO</option>
              <option value=32>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO DE LA CDMX</option>
              <option value=33>COORDINACION GENERAL DE LA COMISION DE ATENCION A VICTIMAS DE LA CIUDAD DE MEXICO</option>
              <option value=34>COORDINACION GENERAL DEL CENTRO DE COMANDO, CONTROL, COMPUTO, COMUNICACIONES Y CONTACTO CIUDADANO DE LA CIUDAD DE MEXICO</option>
              <option value=35>COORDINACION GENERAL DEL INSTITUTO DE FORMACION PROFESIONAL</option>
              <option value=36>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DE LA CDMX</option>
              <option value=37>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DEL GDF</option>
              <option value=38>DIR. GRAL. DE LA COORD. DE LOS CNTROS. DE TRANSFERENCIA MODAL DEL D. F.</option>
              <option value=39>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DE LA CDMX</option>
              <option value=40>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DEL D.F.</option>
              <option value=41>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DE LA CDMX</option>
              <option value=42>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DEL D.F.</option>
              <option value=43>DIRECCION GENERAL DEL SISTEMA DE RADIO Y TELEVISION DIGITAL</option>
              <option value=44>DIRECCION GENERAL DE LA PLANTA DE ASFALTO</option>
              <option value=45>DIRECCION GENERAL DEL ORGANO REGULADOR DE TRANSPORTE DE LA CDMX</option>
              <option value=46>DIRECCION GRAL. DEL CENTRO DE ATENCION A EMERGENCIAS Y PROTECCION CIUDADANA DE LA CD. DE MEXICO</option>
              <option value=47>ESCUELA DE ADMINISTRACION P?BLICA DEL D.F.</option>
              <option value=48>FIDEICOMISO EDUCACION GARANTIZADA DE LA CDMX</option>
              <option value=49>FIDEICOMISO EDUCACION GARANTIZADA DEL DISTRITO FEDERAL</option>
              <option value=50>FIDEICOMISO MUSEO DE ARTE POPULAR DE ARTE MEXICANO</option>
              <option value=51>FIDEICOMISO MUSEO ESTANQUILLO</option>
              <option value=52>FIDEICOMISO PARA LA PROMOCION Y DESARROLLO DEL CINE MEXICANO EN LA CIUDAD DE MEXICO</option>
              <option value=53>FIDEICOMISO PARA LA RECONSTRUCCION INTEGRAL DE LA CIUDAD DE MEXICO</option>
              <option value=54>HEROICO CUERPO DE BOMBEROS DEL D. F.</option>
              <option value=55>INSTITUTO DE CAPACITACION PARA EL TRABAJO DE LA CIUDAD DE MEXICO</option>
              <option value=56>INSTITUTO DE ESTUDIOS SUPERIORES DE LA CIUDAD DE MEXICO ROSARIO CASTELLANOS</option>
              <option value=57>INSTITUTO DE LAS MUJERES DEL DISTRITO FEDERAL</option>
              <option value=58>INSTITUTO DEL DEPORTE DEL DISTRITO FEDERAL</option>
              <option value=59>INSTITUTO PARA LA ATENCION Y PREVENCION DE LAS ADICCIONES EN LA CD. DE MEX.</option>
              <option value=60>JEFATURA DE GOBIERNO DE LA CDMX</option>
              <option value=61>JEFATURA DE GOBIERNO DEL DISTRITO FEDERAL</option>
              <option value=62>OFICIALIA MAYOR</option>
              <option value=63>PROCURADURIA GENERAL DE JUSTICIA DE LA CDMX</option>
              <option value=64>PROCURADURIA GENERAL DE JUSTICIA DEL DISTRITO FEDERAL</option>
              <option value=65>SECRETARIA DE ADMINISTRACION Y FINANZAS DE LA CDMX</option>
              <option value=66>SECRETARIA DE CULTURA DE LA CDMX</option>
              <option value=67>SECRETARIA DE DESARROLLO ECONOMICO</option>
              <option value=68>SECRETARIA DE DESARROLLO ECONOMICO DE LA CDMX</option>
              <option value=69>SECRETARIA DE DESARROLLO SOCIAL</option>
              <option value=70>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA</option>
              <option value=71>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA DE LA CDMX</option>
              <option value=72>SECRETARIA DE EDUCACION</option>
              <option value=73>SECRETARIA DE EDUCACION, CIENCIA, TECNOLOGIA E INNOVACION DE LA CDMX</option>
              <option value=74>SECRETARIA DE FINANZAS</option>
              <option value=75>SECRETARIA DE GESTION INTEGRAL DE RIESGOS Y PROTECCION CIVIL DE LA CDMX</option>
              <option value=76>SECRETARIA DE GOBIERNO</option>
              <option value=77>SECRETARIA DE GOBIERNO DE LA CDMX</option>
              <option value=78>SECRETARIA DE INCLUSION Y BIENESTAR SOCIAL DE LA CDMX</option>
              <option value=79>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CDMX</option>
              <option value=80>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CIUDAD DE MEXICO</option>
              <option value=81>SECRETARIA DE LAS MUJERES DE LA CDMX</option>
              <option value=82>SECRETARIA DE MOVILIDAD</option>
              <option value=83>SECRETARIA DE MOVILIDAD DE LA CDMX</option>
              <option value=84>SECRETARIA DE OBRAS Y SERVICIOS</option>
              <option value=85>SECRETARIA DE OBRAS Y SERVICIOS DE LA CDMX</option>
              <option value=86>SECRETARIA DE PROTECCION CIVIL</option>
              <option value=87>SECRETARIA DE PUEBLOS Y BARRIOS ORIGINARIOS Y COMUNIDADES INDIGENAS RESIDENTES DE LA CDMX</option>
              <option value=88>SECRETARIA DE SALUD</option>
              <option value=89>SECRETARIA DE SALUD DE LA CDMX</option>
              <option value=90>SECRETARIA DE SEGURIDAD CIUDADANA DE LA CDMX</option>
              <option value=91>SECRETARIA DE SEGURIDAD PUBLICA</option>
              <option value=92>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO</option>
              <option value=93>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO EN LA CDMX</option>
              <option value=94>SECRETARIA DE TURISMO</option>
              <option value=95>SECRETARIA DE TURISMO DE LA CDMX</option>
              <option value=96>SECRETARIA DEL MEDIO AMBIENTE</option>
              <option value=97>SECRETARIA DEL MEDIO AMBIENTE DE LA CDMX</option>
              <option value=98>SECRETARIA EJECUTIVA DE MECANISMOS DE SEGUIMIENTO Y EVALUACION DEL PROGRAMA DE DERECHOS HUMANOS</option>
              <option value=99>SISTEMA DE AGUAS DE LA CIUDAD DE MEXICO</option>
              <option value=100>SISTEMA PUBLICO DE RADIODIFUSION DE LA CIUDAD DE MEXICO</option>
              <option value=101>UNIVERSIDAD DE LA POLICIA DE LA CIUDAD DE MEXICO</option>
              <option value=102>OTRO</option>
      </select><br><br>
      <input type="text" name="otro_4" id="otro_4"  placeholder="Otra división" style='display:none;'/>
  <p></p>
      <!-- Persona5 -->
      <div class="autocomplete" style="width:300px;">
        <input data-ng-model="persona5"  id="persona5" class="mytext" type="text" placeholder="Persona 5">
      </div>
      <select name="unidad_5" class="myselect" onchange='AddOther_5(this.value);'>
              <option disabled selected value="División o Unidad">División o Unidad</option>
              <option value=1>AGENCIA DE ATENCION ANIMAL DE LA CDMX</option>
              <option value=2>AGENCIA DE GESTION URBANA DE LA CIUDAD DE MEXICO</option>
              <option value=3>AGENCIA DE RESILIENCIA DE LA CIUDAD DE MEXICO</option>
              <option value=4>AGENCIA DIGITAL DE INNOVACION PUBLICA</option>
              <option value=5>ALCALDIA DE ALVARO OBREGON</option>
              <option value=6>ALCALDIA DE AZCAPOTZALCO</option>
              <option value=7>ALCALDIA DE BENITO JUAREZ</option>
              <option value=8>ALCALDIA DE COYOACAN</option>
              <option value=9>ALCALDIA DE CUAJIMALPA DE MORELOS</option>
              <option value=10>ALCALDIA DE CUAUHTEMOC</option>
              <option value=11>ALCALDIA DE GUSTAVO A. MADERO</option>
              <option value=12>ALCALDIA DE IZTACALCO</option>
              <option value=13>ALCALDIA DE IZTAPALAPA</option>
              <option value=14>ALCALDIA DE LA MAGDALENA CONTRERAS</option>
              <option value=15>ALCALDIA DE MIGUEL HIDALGO</option>
              <option value=16>ALCALDIA DE MILPA ALTA</option>
              <option value=17>ALCALDIA DE TLAHUAC</option>
              <option value=18>ALCALDIA DE TLALPAN</option>
              <option value=19>ALCALDIA DE VENUSTIANO CARRANZA</option>
              <option value=20>ALCALDIA DE XOCHIMILCO</option>
              <option value=21>AUTORIDAD DEL ESPACIO PUBLICO DEL D.F.</option>
              <option value=22>CAJA DE PREVISION DE LA POLICIA AUXILIAR DE LA CDMX</option>
              <option value=23>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DE LA CDMX</option>
              <option value=24>CAJA DE PREVISION DE LA POLICIA PREVENTIVA DEL D.F.</option>
              <option value=25>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB. D. F.</option>
              <option value=26>CAJA DE PREVISION P/TRABAJADORES A LISTA DE RAYA DEL GOB.DE LA CDMX</option>
              <option value=27>COMISION DE BUSQUEDA DE PERSONAS DE LA CIUDAD DE MEXICO</option>
              <option value=28>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES</option>
              <option value=29>CONSEJERIA JURIDICA Y DE SERVICIOS LEGALES DE LA CDMX</option>
              <option value=30>COORD. GRAL. DE LA AUT. DE LA ZONA PATRIMONIAL, MUNDIAL NAT. Y CULTURAL DE LA HUMANIDAD EN XOCHIMILCO, TLAHUAC Y MILPA ALTA</option>
              <option value=31>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO</option>
              <option value=32>COORDINACION GENERAL DE LA AUTORIDAD DEL CENTRO HISTORICO DE LA CDMX</option>
              <option value=33>COORDINACION GENERAL DE LA COMISION DE ATENCION A VICTIMAS DE LA CIUDAD DE MEXICO</option>
              <option value=34>COORDINACION GENERAL DEL CENTRO DE COMANDO, CONTROL, COMPUTO, COMUNICACIONES Y CONTACTO CIUDADANO DE LA CIUDAD DE MEXICO</option>
              <option value=35>COORDINACION GENERAL DEL INSTITUTO DE FORMACION PROFESIONAL</option>
              <option value=36>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DE LA CDMX</option>
              <option value=37>DIR. GRAL. DE LA AGENCIA DE PROTECC. SANITARIA DEL GDF</option>
              <option value=38>DIR. GRAL. DE LA COORD. DE LOS CNTROS. DE TRANSFERENCIA MODAL DEL D. F.</option>
              <option value=39>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DE LA CDMX</option>
              <option value=40>DIR. GRAL. DEL MECANISMO DE PROTECCION INTEGRAL DE PERSONAS DEFENSORAS DE DERECHOS HUMANOS Y PERIODISTAS DEL D.F.</option>
              <option value=41>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DE LA CDMX</option>
              <option value=42>DIR. GRAL. DEL REGIMEN DE PROTECCION SOCIAL EN SALUD DEL D.F.</option>
              <option value=43>DIRECCION GENERAL DEL SISTEMA DE RADIO Y TELEVISION DIGITAL</option>
              <option value=44>DIRECCION GENERAL DE LA PLANTA DE ASFALTO</option>
              <option value=45>DIRECCION GENERAL DEL ORGANO REGULADOR DE TRANSPORTE DE LA CDMX</option>
              <option value=46>DIRECCION GRAL. DEL CENTRO DE ATENCION A EMERGENCIAS Y PROTECCION CIUDADANA DE LA CD. DE MEXICO</option>
              <option value=47>ESCUELA DE ADMINISTRACION P?BLICA DEL D.F.</option>
              <option value=48>FIDEICOMISO EDUCACION GARANTIZADA DE LA CDMX</option>
              <option value=49>FIDEICOMISO EDUCACION GARANTIZADA DEL DISTRITO FEDERAL</option>
              <option value=50>FIDEICOMISO MUSEO DE ARTE POPULAR DE ARTE MEXICANO</option>
              <option value=51>FIDEICOMISO MUSEO ESTANQUILLO</option>
              <option value=52>FIDEICOMISO PARA LA PROMOCION Y DESARROLLO DEL CINE MEXICANO EN LA CIUDAD DE MEXICO</option>
              <option value=53>FIDEICOMISO PARA LA RECONSTRUCCION INTEGRAL DE LA CIUDAD DE MEXICO</option>
              <option value=54>HEROICO CUERPO DE BOMBEROS DEL D. F.</option>
              <option value=55>INSTITUTO DE CAPACITACION PARA EL TRABAJO DE LA CIUDAD DE MEXICO</option>
              <option value=56>INSTITUTO DE ESTUDIOS SUPERIORES DE LA CIUDAD DE MEXICO ROSARIO CASTELLANOS</option>
              <option value=57>INSTITUTO DE LAS MUJERES DEL DISTRITO FEDERAL</option>
              <option value=58>INSTITUTO DEL DEPORTE DEL DISTRITO FEDERAL</option>
              <option value=59>INSTITUTO PARA LA ATENCION Y PREVENCION DE LAS ADICCIONES EN LA CD. DE MEX.</option>
              <option value=60>JEFATURA DE GOBIERNO DE LA CDMX</option>
              <option value=61>JEFATURA DE GOBIERNO DEL DISTRITO FEDERAL</option>
              <option value=62>OFICIALIA MAYOR</option>
              <option value=63>PROCURADURIA GENERAL DE JUSTICIA DE LA CDMX</option>
              <option value=64>PROCURADURIA GENERAL DE JUSTICIA DEL DISTRITO FEDERAL</option>
              <option value=65>SECRETARIA DE ADMINISTRACION Y FINANZAS DE LA CDMX</option>
              <option value=66>SECRETARIA DE CULTURA DE LA CDMX</option>
              <option value=67>SECRETARIA DE DESARROLLO ECONOMICO</option>
              <option value=68>SECRETARIA DE DESARROLLO ECONOMICO DE LA CDMX</option>
              <option value=69>SECRETARIA DE DESARROLLO SOCIAL</option>
              <option value=70>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA</option>
              <option value=71>SECRETARIA DE DESARROLLO URBANO Y VIVIENDA DE LA CDMX</option>
              <option value=72>SECRETARIA DE EDUCACION</option>
              <option value=73>SECRETARIA DE EDUCACION, CIENCIA, TECNOLOGIA E INNOVACION DE LA CDMX</option>
              <option value=74>SECRETARIA DE FINANZAS</option>
              <option value=75>SECRETARIA DE GESTION INTEGRAL DE RIESGOS Y PROTECCION CIVIL DE LA CDMX</option>
              <option value=76>SECRETARIA DE GOBIERNO</option>
              <option value=77>SECRETARIA DE GOBIERNO DE LA CDMX</option>
              <option value=78>SECRETARIA DE INCLUSION Y BIENESTAR SOCIAL DE LA CDMX</option>
              <option value=79>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CDMX</option>
              <option value=80>SECRETARIA DE LA CONTRALORIA GENERAL DE LA CIUDAD DE MEXICO</option>
              <option value=81>SECRETARIA DE LAS MUJERES DE LA CDMX</option>
              <option value=82>SECRETARIA DE MOVILIDAD</option>
              <option value=83>SECRETARIA DE MOVILIDAD DE LA CDMX</option>
              <option value=84>SECRETARIA DE OBRAS Y SERVICIOS</option>
              <option value=85>SECRETARIA DE OBRAS Y SERVICIOS DE LA CDMX</option>
              <option value=86>SECRETARIA DE PROTECCION CIVIL</option>
              <option value=87>SECRETARIA DE PUEBLOS Y BARRIOS ORIGINARIOS Y COMUNIDADES INDIGENAS RESIDENTES DE LA CDMX</option>
              <option value=88>SECRETARIA DE SALUD</option>
              <option value=89>SECRETARIA DE SALUD DE LA CDMX</option>
              <option value=90>SECRETARIA DE SEGURIDAD CIUDADANA DE LA CDMX</option>
              <option value=91>SECRETARIA DE SEGURIDAD PUBLICA</option>
              <option value=92>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO</option>
              <option value=93>SECRETARIA DE TRABAJO Y FOMENTO AL EMPLEO EN LA CDMX</option>
              <option value=94>SECRETARIA DE TURISMO</option>
              <option value=95>SECRETARIA DE TURISMO DE LA CDMX</option>
              <option value=96>SECRETARIA DEL MEDIO AMBIENTE</option>
              <option value=97>SECRETARIA DEL MEDIO AMBIENTE DE LA CDMX</option>
              <option value=98>SECRETARIA EJECUTIVA DE MECANISMOS DE SEGUIMIENTO Y EVALUACION DEL PROGRAMA DE DERECHOS HUMANOS</option>
              <option value=99>SISTEMA DE AGUAS DE LA CIUDAD DE MEXICO</option>
              <option value=100>SISTEMA PUBLICO DE RADIODIFUSION DE LA CIUDAD DE MEXICO</option>
              <option value=101>UNIVERSIDAD DE LA POLICIA DE LA CIUDAD DE MEXICO</option>
              <option value=102>OTRO</option>
      </select><br><br>
      <input type="text" name="otro_5" id="otro_5"  placeholder="Otra división" style='display:none;'/>
      <p></p>

    </div>

    <div class="tab">

      <p>En este ejercicio tendremos las siguientes reglas: Si tu predicción promedio del salario no se desvía más del 5% del valor real recibirás un premio monetario.</p>
      <p>Tus 5 compañeros también realizarán ejercicio, y quien obtenga la mejor predicción promedio del salario, tendrá un premio monetario de XXX MXN.</p>
      <p>En promedio ¿Cuánto cree que ganaron sus 5 compañeros más cercanos en marzo de 2019?</p>

      <h3> {a persona1 a} </h3>

      <p>Use la franja oscura para ajustar el salario mensual estimado en pesos mexicanos:</p>
      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange">
        <p>MXN ($): <span id="demo"></span></p>
      </div>


      <p></p>
      <h3> {a persona2 a} </h3>
      <p>Use la franja oscura para ajustar el salario mensual estimado en pesos mexicanos:</p>


      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange1">
        <p>MXN ($): <span id="demo1"></span></p>
      </div> <p></p>


      <script>
        var rangeslider1 = document.getElementById("sliderRange1");
        var output1 = document.getElementById("demo1");
        output1.innerHTML = rangeslider1.value;

        rangeslider1.oninput = function() {
          output1.innerHTML = this.value;
        }
      </script>



      <h3> {a persona3 a} </h3>

      <p>Use la franja oscura para ajustar el salario mensual estimado en pesos mexicanos:</p>


      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange2">
        <p>MXN ($): <span id="demo2"></span></p>
      </div> <p></p>


      <script>
        var rangeslider2 = document.getElementById("sliderRange2");
        var output2 = document.getElementById("demo2");
        output2.innerHTML = rangeslider2.value;

        rangeslider2.oninput = function() {
          output2.innerHTML = this.value;
        }
      </script>



      <h3> {a persona4 a} </h3>
      <p>Use la franja oscura para ajustar el salario mensual estimado en pesos mexicanos:</p>

      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange3">
        <p>MXN ($): <span id="demo3"></span></p>
      </div> <p></p>


      <script>
        var rangeslider3 = document.getElementById("sliderRange3");
        var output3 = document.getElementById("demo3");
        output3.innerHTML = rangeslider3.value;

        rangeslider3.oninput = function() {
          output3.innerHTML = this.value;
        }
      </script>


      <h3> {a persona5 a} </h3>

      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange4">
        <p>MXN ($): <span id="demo4"></span></p>
      </div> <p></p>


      <script>
        var rangeslider4 = document.getElementById("sliderRange4");
        var output4 = document.getElementById("demo4");
        output4.innerHTML = rangeslider4.value;

        rangeslider4.oninput = function() {
          output4.innerHTML = this.value;
        }
      </script>


    </div>

    <div class="tab">
      Ahora, supón que tienes la posibilidad de comprar la siguiente información: el salario promedio de 2 de sus compañeros. Adicionalmente, si compras esta información, podrías usarla para modificar el salario promedio que calculaste en la pregunta anterior.  Esto implica que, al mejorar tu predicción, tendrás mayor probabilidad de ganar el premio de XXX MXN. Dado lo anterior, ¿Cuál es la máxima cantidad que estarías dispuesto a pagar por esta información? Recuerda que estás haciendo la oferta a una computadora, así que conviene responder con sinceridad.

      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange_c">
        <p>MXN ($): <span id="demo_c"></span></p>
      </div> <p></p>


      <script>
        var rangeslider_c = document.getElementById("sliderRange_c");
        var output_c = document.getElementById("demo_c");
        output_c.innerHTML = rangeslider_c.value;

        rangeslider_c.oninput = function() {
          output_c.innerHTML = this.value;
        }
      </script>

    </div>



    <div class="tab">
      Antes de seguir con la encuesta, vamos a introducir un nuevo tipo de pregunta. Supongamos que estás jugando el siguiente juego: una moneda es lanzada, y debes adivinar si cae águila o sol. Si adivinas qué cara salió, ganas XX MXN, de lo contrario, ganas 0 MXN. Nota que el valor esperado de la ganancia de este juego es de XX MXN.  Dado lo anterior, ¿Cuál es la máxima cantidad que estarías dispuesto a pagar por esta información? Recuerda que estás haciendo la oferta a una computadora, así que conviene responder con sinceridad.

      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange_b">
        <p>MXN ($): <span id="demo_b"></span></p>
      </div> <p></p>


      <script>
        var rangeslider_b = document.getElementById("sliderRange_b");
        var output_b = document.getElementById("demo_b");
        output_b.innerHTML = rangeslider_b.value;

        rangeslider_b.oninput = function() {
          output_b.innerHTML = this.value;
        }
      </script>
    </div>

    <div class="tab">
      Retomando el primer juego, ingresaste un pronóstico del salario mensual promedio de tus compañeros de trabajo. Si ésta predicción no se aleja más del 5% del valor real, recibirás una recompensa de XX MXN ¿Cuál crees que es la probabilidad de que pronostiques el salario promedio sin desviarte más del 5% de su valor verdadero (es decir, de ganar)?

      <div class="rangeslider">
        <input type="range" min="1" max="100" value="50"
        class="myslider" id="sliderRange_a">
        <p>Probabilidad (%):  <span id="demo_a"></span></p>
      </div> <p></p>


      <script>
        var rangeslider_a = document.getElementById("sliderRange_a");
        var output_a = document.getElementById("demo_a");
        output_a.innerHTML = rangeslider_a.value;

        rangeslider_a.oninput = function() {
          output_a.innerHTML = this.value;
        }
      </script>
    </div>


    <div class="tab">
      Dado que esperas ganar XX MXN con una probabilidad de XX %, tu premio en valor esperado es de XX MXN. Ahora, te queremos ofrecer una cantidad fija de dinero para dejar de jugar este juego. Hacemos esto con todos los participantes, sin importar su predicción sobre el salario promedio de sus compañeros ¿Cuál es la cantidad mínima que aceptarías para dejar de jugar este juego de predicción?  Recuerda que estás haciendo la oferta a una computadora, así que conviene responder con sinceridad.

      <div class="rangeslider">
        <input type="range" min="1" max="162000" value="200"
        class="myslider" id="sliderRange_d">
        <p>MXN ($): <span id="demo_d"></span></p>
      </div> <p></p>

      <script>
        var rangeslider_d = document.getElementById("sliderRange_d");
        var output_d = document.getElementById("demo_d");
        output_d.innerHTML = rangeslider_d.value;

        rangeslider_d.oninput = function() {
          output_d.innerHTML = this.value;
        }
      </script>
    </div>

    <div class="tab">
      Algunos participantes serán seleccionados al azar para revisar sus predicciones, y si es necesario, cambiarlas. Imagine que a usted se le da esta semana adicional. Usted puede usar esta semana adicional para buscar información e incrementar la precisión de su predicción. Por ejemplo, podría usar este tiempo para preguntar a algunos de sus compañeros sobre sus salarios. Recuerde que, sin esa semana adicional, usted espera ganar el juego con una probabilidad de XX %. Si usted tiene esa semana agregada ¿Cuál es la nueva probabilidad de que gane ese juego (tener una predicción no más lejana del 5% del valor real)?

      <div class="rangeslider">
      <input type="range" min="1" max="100" value="50"
                   class="myslider" id="sliderRange_e">
      <p>Probabilidad  (%): <span id="demo_e"></span></p>
      </div> <p></p>


      <script>
      var rangeslider_e = document.getElementById("sliderRange_e");
      var output_e = document.getElementById("demo_e");
      output_e.innerHTML = rangeslider_e.value;

      rangeslider_e.oninput = function() {
       output_e.innerHTML = this.value;
      }
      </script>
      Ahora, imagina que te da una semana adicional para revisar tu pronóstico, y la puedes usar para buscar información adicional e incrementar la precisión de dicha predicción. Dado que con esa semana adicional esperar ganar el premio con probabilidad XX %, esto implica que el valor esperado de tu premio es (probabilidad*XX MXN). Sin una semana adicional, aceptarías una cantidad de XX MXN para renunciar a jugar el juego. Ahora, con una semana adicional, ¿Cuánto deberíamos pagarte para que renunciaras a jugar el juego? Recuerda que estás haciendo la oferta a una computadora, así que conviene responder con sinceridad.
      <div class="rangeslider">
      <input type="range" min="1" max="162000" value="200"
                   class="myslider" id="sliderRange_f">
      <p>MXN ($): <span id="demo_f"></span></p>
      </div> <p></p>


      <script>
      var rangeslider_f = document.getElementById("sliderRange_f");
      var output_f = document.getElementById("demo_f");
      output_f.innerHTML = rangeslider_f.value;

      rangeslider_f.oninput = function() {
       output_f.innerHTML = this.value;
      }
      </script>
      </div>

  <div class="tab">
      ¿Cuál crees que es el salario mensual promedio de todos tus compañeros en una posición similar a la tuya en el mes de marzo de 2019?
      <div class="rangeslider">
      <input type="range" min="1" max="162000" value="400"
                   class="myslider" id="sliderRange_g">
      <p>MXN ($): <span id="demo_g"></span></p>
      </div> <p></p>

      <script>
      var rangeslider_g = document.getElementById("sliderRange_g");
      var output_g = document.getElementById("demo_g");
      output_g.innerHTML = rangeslider_g.value;

      rangeslider_g.oninput = function() {
       output_g.innerHTML = this.value;
      }
      </script>
      </div>

<div class="tab">
  En la pregunta anterior, reportaste que crees que el salario mensual promedio para marzo de 2019 para los empleados con un cargo similar al tuyo fue de XX MXN. La siguiente pregunta está diseñada para evaluar qué tan seguro te sientes acerca de tu respuesta anterior ¿Con cuál probabilidad crees que el salario promedio verdadero caiga dentro de las siguientes categorías? Las probabilidades deben sumar 100%. Nota: Si aciertas, te premiaremos con XX MXN.
</div>




    <!-- NO EDITAR-->
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>

  </form>
</div>


{% endblock %}
