{% extends "layout.html" %}

{% block main %}

<div data-ng-app = "miApp" data-ng-controller="miCtrl">
        <form id="regForm" action="/form" autocomplete="off" method="post">

            <h1>Encuesta CDMX</h1>

            <!-- One "tab" for each step in the form: -->


            <div class="tab">
              <b>Las respuestas de esta encuesta no serán compartidas con tu jefe y/o compañeros de trabajo.</b>
              <p></p>
              <p>Tienes 3 minutos para responder esta pregunta. Hagamos el siguiente ejercicio. Quieres adivinar el salario mensual de 5 de tus compañeros de trabajo (con los que tienes una relación laboral más cercana).</p>
              <p></p>
              <p>Escribe el nombre de las cinco personas con las que trabaja más de cerca y en qué división están:</p>


              <select ng-model="selectedDiv" ng-options="x for x in div"  ng-change="check()" ></select>
              <input type="text" name="otro" id="otro"  placeholder="Otra división" style='display:none;'/>


              <p><input placeholder="E-mail..." oninput="this.className = ''"></p>
              <p><input placeholder="Phone..." oninput="this.className = ''"></p>
            </div>

            <div class="tab">Birthday:
              <p><input placeholder="dd" oninput="this.className = ''"></p>
              <p><input placeholder="mm" oninput="this.className = ''"></p>
              <p><input placeholder="yyyy" oninput="this.className = ''"></p>
            </div>

            <div class="tab">Login Info:
              <p><input placeholder="Username..." oninput="this.className = ''"></p>
              <p><input placeholder="Password..." oninput="this.className = ''"></p>
            </div>

            <!-- NO EDITAR-->
            <div style="overflow:auto;">
              <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
              </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
            </div>

            </form>
</div>


{% endblock %}
